<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Against The Service Request</title>
</head>
<body>
    <div id=app>
        <div class="currency-container">
            <div class="requests-currency">
                You have done {{format(player.clicks)}} clicks on CRM
                <button @click="clickManually">Click Manually</button>
            </div>
            <div class="engineers-currency">
                You have a budget of {{format(player.manhours)}} man hours
            </div>
            <div class="customers-currency">
                You have customers with a total {{format(player.accounts)}} accounts in CRM
            </div>
        </div>
        <div class="producer-container">
            <div class="generators-container">
                <div class="generator requests-generator" v-for="(object, index) in player.requests">
                    <h4><strong>{{object.name}}:</strong>{{object.desc}}</h4>
                    <span class="generator-production">Provides {{format(object.amount*object.mult)}} click/s</span>
                    <span class="generator-amount">{{format(object.amount)}}</span>
                    <span class="generator-multiplier"> x {{object.mult}}</span>
                    <span class="generator-cost"> Cost: {{format(object.cost)}}</span>
                    <button @click="buyRequestGenerator(index)">Create 1</button>
                </div>
            </div>
            <div class="generators-container">
                <div class="generator engineers-generator" v-for="(object, index) in player.engineers">
                    <h4> {{object.name}}</h4>
                    <span class="generator-desc">{{object.desc}}</span>
                    <span class="generator-amount">{{format(object.amount)}}</span>
                    <span class="generator-multiplier"> x {{object.mult}}</span>
                    <span class="generator-cost"> Cost: {{format(object.cost)}}</span>
                    <button @click="buyEngineerGenerator(index)">Create 1</button>
                </div>
            </div>
            <div class="generators-container">
                <div class="generator customers-generator" v-for="(object, index) in player.customers">
                    <h4> {{object.name}}</h4>
                    <h5> {{object.desc}}</h5>
                    <span class="generator-amount">{{format(object.amount)}}</span>
                    <span class="generator-multiplier"> x {{object.mult}}</span>
                    <span class="generator-cost"> Cost: {{format(object.cost)}}</span>
                    <button @click="buyCustomerGenerator(index)">Create 1</button>
                </div>
            </div>

        </div>
    </div>
</body>
<script src="./js/vue.js"></script>
<script src="./js/format.js"></script>
<script src="./js/player.js"></script>
<script  src="./js/loop.js"></script>
<script  src="./js/index.js"></script>

</html>